.filter {
    padding-left: 50px;
    min-width: 200px;
}

.filter .filterItem {
    margin-bottom: 30px;
}

.search-input {
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: rgb(240, 240, 240);
    width: 190px;
}

.filter-categories {
    margin: 5px 0;
}

.filter-sortBy {
    margin: 5px 0;
}

.filter .filterItem h2 {
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(47, 51, 61);
}

.filter .filterItem label {
    margin-left: 7px;
}

.filter-new-season {
    margin-top: 30px;
}

.clear-filter-btn {
    background-color: rgb(209, 50, 50);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    transition: all 0.1s ease;
}

.clear-filter-btn:hover {
    transform: translate(2px, 2px);
    box-shadow: 0 0 black;
}

@media screen and (max-width: 1200px) {
    .filter {
        padding: 0;
    }   
}

@media screen and (max-width: 600px) {
    .filter {
        margin-bottom: 10px;
    }
    
    .filter .filterItem {
        margin-bottom: 5px;
    }

    .filter-new-season {
        margin-bottom: 30px;
    }    
}
