.footer {
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .top {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.top-link-wrapper {
    display: flex;
}

.top-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.top-link-items h2 {
    margin-bottom: 16px;
}

.top-link-items a {
    color: #000;
    text-decoration: none;
    margin-bottom: 8px;
}

.top-link-items a:hover {
    color: grey;
    transition: 0.3s ease-out;
}

.bottom {
    max-width: 1000px;
    width: 100%;
}

.bottom .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-bottom: 16px;
}

.social-logo {
    color: rgb(228, 151, 8);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-self: center;
    margin-bottom: 16px;
    align-items: center;
}

.copyright {
    margin-bottom: 16px;
}

.crown {
    color: rgb(228, 151, 8);
    margin-left: 6px;
}

.footer .bottom .right {
    display: flex;
    justify-content: center;
}

.footer .bottom .right img {
    height: 50px;
}

.footer .bottom .left .facebook {
    color: #3b5998;
}

.footer .bottom .left .youtube {
    color: #FF0000;
}

.footer .bottom .left .twitter {
    color: #00acee;
}

.footer .bottom .left .linkedin {
    color: #0072b1 ;
}

@media screen and (max-width: 820px) {
    .footer .top {
        padding-top: 2rem;
    }

    .top-link-wrapper {
        flex-direction: column;
    }

    .footer .bottom .left {
        flex-direction: column;
    }

    .footer .bottom .right img {
        height: 45px;
    }
}