.productList {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    justify-content: center;
}

@media screen and (max-width: 1500px) {
    .productList {
        grid-template-columns: repeat(3, auto);
        justify-content: space-around;
    }
}

@media screen and (max-width: 1300px) {
    .productList {
        grid-template-columns: repeat(2, auto);
        justify-content: space-around;
    }
}

@media screen and (max-width: 900px) {
    .productList {
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
}